<!--

This file is part of the ego-cli distribution.
Copyright (c) e.GO Digital GmbH, Aachen, Germany (https://www.e-go-digital.com/)

ego-cli is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation, version 3.

ego-cli is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="expires" content="0">
    <meta name="author" content="e.GO Digital GmbH, Aachen, Germany">

    <title>e.GO CLI</title>

    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mdb.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <link rel="shortcut icon" href="/img/favicon.ico">
</head>

<body class="grey lighten-3">
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container">
                <a class="navbar-brand waves-effect" href="https://e-go-digital.com" target="_blank">
                    <img src="/img/ego-logo.svg" id="ego-logo">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto"></ul>

                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a href="https://github.com/egodigital/ego-cli" class="nav-link waves-effect"
                                target="_blank">
                                <i class="fa fa-github" id="ego-github-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">